docker_config/nodered/data/flows.json
[
    {
        "id": "4c24410.0d27f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d69f5f9.6ffdda",
        "type": "mqtt-broker",
        "z": "",
        "name": "rabbit broker",
        "broker": "mqtt://rabbitmq",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "984d9d49.a0a1f8",
        "type": "mqtt out",
        "z": "4c24410.0d27f4",
        "name": "mqtt out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "2d69f5f9.6ffdda",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "4e592ede.e04748",
        "type": "inject",
        "z": "4c24410.0d27f4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 115,
        "y": 140,
        "wires": [
            [
                "6dd0db25.eaffcc"
            ]
        ],
        "icon": "font-awesome/fa-repeat",
        "l": false
    },
    {
        "id": "6dd0db25.eaffcc",
        "type": "function",
        "z": "4c24410.0d27f4",
        "name": "Simulate values 5a54cabf-2caf-4e38-8b4c-9d8b5c70ea54",
        "func": "let uuid = \"5a54cabf-2caf-4e38-8b4c-9d8b5c70ea54\"\nlet speed = (Math.random() * 100).toFixed(2);\nlet temperature = (Math.random() * 40 + 10).toFixed(2);\nlet time = new Date().toISOString();\n\nmsg.topic = `dev/${uuid}/read`\nmsg.payload = {\n  speed: parseFloat(speed),\n  temperature: parseFloat(temperature),\n  time: time\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "984d9d49.a0a1f8",
                "33b256a9.7ecaca"
            ]
        ]
    },
    {
        "id": "39e9446d.3c0934",
        "type": "mqtt out",
        "z": "4c24410.0d27f4",
        "name": "mqtt out",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "2d69f5f9.6ffdda",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "3ad073ea.80a62c",
        "type": "inject",
        "z": "4c24410.0d27f4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 115,
        "y": 220,
        "wires": [
            [
                "fdca3ffd.e8499"
            ]
        ],
        "icon": "font-awesome/fa-repeat",
        "l": false
    },
    {
        "id": "fdca3ffd.e8499",
        "type": "function",
        "z": "4c24410.0d27f4",
        "name": "Simulate values 80eabbe6-7e6a-42a4-8ecf-5b3da87460e2",
        "func": "let uuid = \"80eabbe6-7e6a-42a4-8ecf-5b3da87460e2\"\nlet speed = (Math.random() * 100).toFixed(2);\nlet temperature = (Math.random() * 40 + 10).toFixed(2);\nlet time = new Date().toISOString();\n\nmsg.topic = `dev/${uuid}/read`\nmsg.payload = {\n  speed: parseFloat(speed),\n  temperature: parseFloat(temperature),\n  time: time\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "39e9446d.3c0934",
                "33b256a9.7ecaca"
            ]
        ]
    },
    {
        "id": "33b256a9.7ecaca",
        "type": "debug",
        "z": "4c24410.0d27f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 180,
        "wires": []
    }
]